<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
      <div style="background-color: #e0d4d4;margin-left:300px;margin-right:200px;">
     <h1 style="color: grey;font-size:35px;height:300px;"><br>&nbsp;&nbsp;Footer</h1>
      </div> -->
<html>
<body>
<div class="grid-container">
  <div class="grid-item">
      <h1>Footer</h1>
  </div>  
</div>

</body>
</html>
