<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
      <div style="background-color: #e0d4d4;margin-left:300px;margin-right:200px;">
     <h1 style="color: grey;font-size:35px;height:300px;"><br>&nbsp;&nbsp;Footer</h1>
      </div> -->
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  font-size: 30px;
  height:300px;
  width:700px;
  margin-left:340px;
  margin-top:0px;
  position:static;
  margin-top:-19px;
}
h1{
    color:rgb(59, 53, 53);
    margin-left:25px;
    font-size:25px;
}
</style>
</head>
<body>
<div class="grid-container">
  <div class="grid-item">
      <h1>Footer</h1>
  </div>  
</div>

</body>
</html>
