@import 'variables';

.policy {
  margin: 0 auto;
  padding: 10px;
  max-width: 700px;
  .heading {
    color: $gray-color;
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 0;
    //text-decoration: underline;
    //text-underline-offset: 3px;
  }
  .paragraph {
    .sub-heading {
      color: $gray-color;
      font-weight: bolder;
      font-size: 18px;
      padding: 10px 0 5px 0;
    }
    .content {
      p, li {
        font: 500 14px/20px Roboto, "Helvetica Neue", sans-seri;
        text-align: justify;
      }
    }
  }
}
