<div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="men">
        <img src="assets/img/men.png" class="img">
        <img src="assets/img/men-1.png" class="img-hover">
        <a href="#">
          <button type="button" class="btn btn-light" id="btn1">
            Shop Now
          </button>
        </a>
      </div>
    </div>
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="women">
        <img src="assets/img/women.png" class="img">
        <img src="assets/img/women-1.png" class="img-hover">
        <a href="#1">
          <button type="button" class="btn btn-light" id="btn2">
            Shop Now
          </button>
        </a>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="collection">
    <div fxLayout="row">
      <div fxFlex="5"></div>
      <div fxFlex><h3 class="collection-heading">Our Collection</h3></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center">
        <img src="assets/img/essentials.png" alt="essentials"></div>
      <div fxFlex="50" fxFlex.lt-md="100">
        <mat-tab-group>
          <mat-tab label="All">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(8)">
                <img src="assets/img/p1.png" alt="p1" >
              </div>
            </div>
          </mat-tab>

          <mat-tab label="New Arrivals">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(8)">
                <img src="assets/img/p1.png" alt="p1" >
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Popular">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(3)">
                <img src="assets/img/p1.png" alt="p1">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Best Offers">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(3)">
                <img src="assets/img/p1.png" alt="p1">
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="grid-container">
    <div class="grid-item" style="height:300px;">
      <h1 id="head1">&nbsp;Summer Sale is here</h1>
      <h1 id="head2"> &nbsp;&nbsp;UPTO 40% OFF</h1>
      <h2 id="head3">JAN 26-FEB 12</h2>
      <h2 id="head4">SALE</h2>
      <h2 id="head5">SUMMER
      </h2>
      <img src="assets/img/banner.png" alt="banner">
      <p id="head6">
        &nbsp;#supersale</p>
      <a href="#"><button style=" margin-left:150px;margin-top:150px;" type="button" class="btn btn-light" id="btn3">
        Know More </button></a>
    </div>
    </div>
  </div>
</div>
