<div class="home-page">
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="men">
        <img src="assets/img/men.png" class="img">
        <img src="assets/img/menonhover.png" class="img-hover">
        <a href="#">
          <button type="button" class="btn btn-light" id="btn1">
            Shop Now
          </button>
        </a>
      </div>
    </div>
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="women">
        <img src="assets/img/women.png" class="img">
        <img src="assets/img/womenonhover.png" class="img-hover">
        <a href="#1">
          <button type="button" class="btn btn-light" id="btn2">
            Shop Now
          </button>
        </a>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="collection">
    <div fxLayout="row">
      <div fxFlex="5"></div>
      <div fxFlex><h3 class="collection-heading">Our Collection</h3></div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayoutAlign="center center">
        <img src="assets/img/essentials.png" alt="essentials"></div>
      <div fxFlex="50" fxFlex.lt-md="100">
        <mat-tab-group>
          <mat-tab label="All">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                 fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(8)">
                <img src="assets/img/sampleimage1.png" alt="p1">
              </div>
            </div>
          </mat-tab>

          <mat-tab label="New Arrivals">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                 fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(8)">
                <img src="assets/img/sampleimage1.png" alt="p1">
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Popular">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                 fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(3)">
                <img src="assets/img/sampleimage1.png" alt="p1">
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Best Offers">
            <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                 fxLayoutAlign="space-evenly center">
              <div class="product-li" *ngFor="let i of [].constructor(3)">
                <img src="assets/img/sampleimage1.png" alt="p1">
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-3 px-lg-5 banner">
        <h4>&nbsp;Summer Sale is Here</h4>
      <h4>&nbsp;UPTO 40% OFF</h4>
    <h5>JAN 26-FEB 12</h5><br>
  <h6>SALE</h6></div>
      <div class="col py-3 px-lg-5 banner">
        <img src="assets/img/banner.png">
       <h3>SUMMER</h3><br>
       <button type="button" class="btn btn-outline-secondary" id="btn5">Know More</button>
      </div>

    </div>
  </div>
  <div class="gender">
    <div fxLayout="row" fxLayout.lt-md="column">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="5"></div>
          <div fxFlex><h3 class="gender-heading">For Her</h3></div>
        </div>
        <div fxFlex="100">
            <mat-tab-group>
              <mat-tab label="All">
                <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                     fxLayoutAlign="space-evenly center">
                  <div class="product-li" *ngFor="let i of [].constructor(8)">
                    <img src="assets/img/sampleimage1.png" alt="p1">
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="New Arrivals">
                <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                     fxLayoutAlign="space-evenly center">
                  <div class="product-li" *ngFor="let i of [].constructor(8)">
                    <img src="assets/img/sampleimage1.png" alt="p1">
                  </div>
                </div>
              </mat-tab>

              <mat-tab label="Popular">
                <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                     fxLayoutAlign="space-evenly center">
                  <div class="product-li" *ngFor="let i of [].constructor(3)">
                    <img src="assets/img/sampleimage1.png" alt="p1">
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Best Offers">
                <div class="example-large-box mat-elevation-z4" fxLayout="row wrap" fxLayoutGap="15px"
                     fxLayoutAlign="space-evenly center">
                  <div class="product-li" *ngFor="let i of [].constructor(3)">
                    <img src="assets/img/sampleimage1.png" alt="p1">
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
      </div>
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="5"></div>
          <div fxFlex><h3 class="gender-heading">For Him</h3></div>
        </div>
        <div fxFlex fxLayoutAlign="center center">
          <img src="assets/img/collections.jpg" alt="essentials">
        </div>
      </div>
    </div>
  </div>

  <div class="carousel">
    <h2 class="carousal-heading">Shop By Style</h2>
    <div >
      <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
        <div class="item">
          <img src="assets/img/sampleimage2.png">
          <button type="button" class="btn btn-outline-secondary btn4">Explore</button>
        </div>
        <div class="item">
          <img src="assets/img/sampleimage3.png">
          <button type="button" class="btn btn-outline-secondary btn4">Explore</button>
        </div>
        <div class="item">
          <img src="assets/img/sampleimage4.png">
          <button type="button" class="btn btn-outline-secondary btn4">Explore</button>
        </div>
      </div>
    </div>
  </div>
  <div class="our-story"></div>
  <div class="contact-us"></div>
  <div class="footer"></div>
</div>
<div>
  <h1><b>Our Story</b></h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="assets/img/essentials.png">
      </div>
      <div class="col"><h3><b> "A vision statement defines what you want<br> to persue for your cause"</b></h3><br>he quick,brown
        fox jumps over a lazy<br>dog.DJs flock by when MTV ax quiz prog<br>Junk MTV quiz graced by fox
        whelps.<br>Bawds jog, flick quartz, vex nymphs.<br>Waltz, bad nymph, for quick jigs vex! Fox.
        <br><br>
        <button type="button" class="btn btn-outline-secondary">View More</button>
      </div>
      <div class="w-100"></div>
      <br>
      <div class="col">
        <img src="assets/img/essentials.png">
      </div>
      <div class="col" id="contact"><h3><b>Contact Us</b></h3><Br>
      </div>
    </div>
  </div>
  <div class="container px-lg-5">
    <div class="row mx-lg-n5">
      <div class="col py-5 px-lg-5 border bg-dark"><h1><b>Footer</b></h1></div>
    </div>
  </div>
</div>
