<div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="men">
        <img src="assets/img/men.png" class="img">
        <img src="assets/img/men-1.png" class="img-hover">
        <a href="#"><button  type="button" class="btn btn-light" id="btn1">Shop
          Now </button></a>
      </div>
    </div>
    <div fxFlex="50" fxFlex.lt-md="100">
      <div class="women">
        <img src="assets/img/women.png" class="img">
        <img src="assets/img/women-1.png" class="img-hover">
        <a href="#1"><button type="button"
                             class="btn btn-light" id="btn2">Shop Now </button></a>
      </div>
    </div>
  </div>
</div>
