#footer{
    color:white;
    
    svg:hover{
        color:white;
        
    }
    

}

h1{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: orange;
    text-underline-offset: 7px;
    cursor: pointer;
}

h2{
    cursor: pointer;
    color: darkorchid;
}
#f1{
    float:right;
    font-size: large;
}
#f1:hover{
    color:white;
    text-decoration: none;
}
h3{
    font-size:larger;
}
