#footer{
    color:white;
    
    svg{
  
    }
    svg:hover{
      color:white;
    }
  }
  .foo{
    color:white;
    font-size:18px;
  }
  
  #para{
    color:white;
    font-size:18px;
  }
.tabs{
    font-family:roboto;
    font-size:50px;
}
h1{
    font-weight: 500px;
    cursor: pointer;
    font-family:poppins;
    font-size:28px;
    margin-left:10px;
}

h2{
    cursor: pointer;
    font-size:24px;
    color:#1492E6;
    font-family:roboto;
    align-self:center ;
    text-decoration:none;
    font-weight:500px;
}

h3{
    font-size:larger;
    color: black;
}
.strike{
    text-decoration: line-through;
}
/*span{
    font-family:roboto;
    font-size:24px;
}*/
mat-label{
    font-size:18px;
    font-family:roboto;
}

.blu{
    color: #1492E6;
    cursor:pointer;
}

.imd{
    cursor: pointer;
    width: 260px;
    height: 307px;
}

.imm{
    cursor : pointer;
    width: 90px;
    height : 80px;
}

.mob{
    font-size: 13px;
}

.purp
{
    color: purple;
}
.org{
    color: orange;
}
f1{
    float:right;
    font-size: large;
  }
  #f1:hover{
    color:white;
    text-decoration: none;
  }
  .text-center{
    color:white;
  }
  .foo{
    float:right;
    color:white;
    background-color: transparent;
    font-size:15px;
  }
  .ht{
    height: 0px;
}
  

h3{
    font-size:larger;
}
.text-white1{
    font-family:poppins;
    font-size:36px;
    margin-left:0px;
    font-family:500px;
}
.text-white2{
    font-family:poppins;
    font-size:18px;
    margin-left:0px;
    font-family:500px;
    color:white;
}