#footer {
  color: white;

  svg:hover {
    color: white;
  }
}

.foo {
  color: white;
  font-size: 18px;
}

#para {
  color: white;
  font-size: 18px;
}

h1 {
  font-weight: 500px;
  cursor: pointer;
  font-family: poppins;
  font-size: 28px;
  margin-left: 10px;

}

h2 {
  cursor: pointer;
  font-size: 24px;
  color: #1492E6;
  font-family: roboto;
  align-self: center;
  text-decoration: none;
  font-weight: 500px;
}

.blu {
  color: #1492E6;
  cursor: pointer;
}

.imd {
  cursor: pointer;
  width: 260px;
  height: 307px;
}

.imm {
  cursor: pointer;
  width: 150px;
  height: 168px;
}

.custommatcard {
  box-shadow: none;
}

.mob {
  font-size: 13px;
}

.fontdouble {
  font-size: 23px;
}

.fonteighteen {
  font-size: 16px;
}

.font13 {
  font-size: 13px;
}

.grey {
  color: gray;
}

.green {
  color: green;
}

.elpdesktop {
  max-width: 159px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fonttwenty {
  font-size: 20px;
}

#f1 {
  float: right;
  font-size: large;
}

#f1:hover {
  color: white;
  text-decoration: none;
}

.text-white {
  color: white;
  font-family: poppins;
  font-size: 36px;
  margin-left: 0px;
}

.foo {
  float: right;
  color: white;
  background-color: transparent;
  font-size: 15px;
}

.t-white {
  color: white;
  margin-top: -10px;
  margin-left: -5px;
}

h3 {
  font-size: larger;
  color: black;
}

.strike {
  text-decoration: line-through;
}

.text-white2 {
  color: white;
  font-family: poppins;
  font-family: 500px;
}

/*span{
    font-family:roboto;
    font-size:24px;
}*/
mat-label {
  font-size: 18px;
  font-family: roboto;
}

.purp {
  color: purple;
}

.org {
  color: orange;
}

.ht {
  height: 0px;
}

#rcorners4 {
  border-radius: 15px;
  background: #73AD21;
  padding: 8px;
  width: 45px;
  height: 24px;
}

.elpmob {
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}

#rcornersmob4 {
  border-radius: 13px;
  background: #73AD21;
  padding: 6px;
  width: 32px;
  height: 18px;
}

.product-card:not(:last-child) {
  margin-right: 15px;
}

.product-card {
  display: inline-block;
  padding: 10px 5%;
  margin-right: 15px;

  .img-container {
    display: inline-block;

    img {
      max-width: 225px;
      max-height: 280px;
      cursor: pointer;
    }
  }

  .product-description {
    padding-top: 5px;

    span {
      line-height: 25px;
    }

    .product-name {
      text-overflow: ellipsis;
      width: 155px;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      padding-left: 5px;
    }

    .product-rating {
      border-radius: 15px;
      background: #73AD21;
      padding: 0 8px 8px 8px;
      width: 41px;
      height: 24px;
      color: white;
      text-align: center;
    }


  }

  .product-price {
    margin-right: 5px;
  }

  .product-actual-price {
    margin-right: 5px;
  }

  .product-discount {
    margin-right: 5px;
    color: #73AD21;
  }


}

.product-card-mob:not(:last-child) {
  margin-right: 15px;
}

.product-card-mob {
  display: inline-block;
  padding: 10px 5%;
  margin-right: 15px;
  max-width: 142px;

  .img-container-mob {
    display: inline-block;

    img {
      max-width: 142px;
      max-height: 186px;
      cursor: pointer;
    }
  }

  .product-description-mob {
    padding-top: 5px;

    span {
      line-height: 25px;
      max-width: 100px;
    }

    .product-name-mob {
      text-overflow: ellipsis;
      width: 155px;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      padding-left: 5px;
    }

    .product-rating-mob {
      border-radius: 15px;
      background: #73AD21;
      padding: 0 6px 6px 6px;
      width: 33px;
      height: 22px;
      color: white;
      text-align: center;
    }


  }

  .product-price-mob {
    margin-right: 3px;
  }

  .font-9 {
    font-size: 9px;
  }

  .product-actual-price-mob {
    margin-right: 3px;
  }

  .product-discount-mob {
    margin-right: 3px;
    color: #73AD21;
  }
}
