<div class="bg-dark img-container">
  <img src="assets/img/cover1.png" class="card-img" alt="wardrobe">
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <span>All</span>
    </ng-template>
    <div class="sort-select">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [formControl]="toppings" [(value)]="selected" (selectionChange)="sort($event)">
          <mat-select-trigger>
            {{toppings.value ? toppings.value : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"></app-product>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span>Hoodies</span>
    </ng-template>
    <div class="sort-select">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [formControl]="toppings" [(value)]="selected" (selectionChange)="sort($event)">
          <mat-select-trigger>
            {{toppings.value ? toppings.value : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"></app-product>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>T-Shirts</span>
    </ng-template>
    <div class="sort-select">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [formControl]="toppings" [(value)]="selected" (selectionChange)="sort($event)">
          <mat-select-trigger>
            {{toppings.value ? toppings.value : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"></app-product>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Dresses</span>
    </ng-template>
    <div class="sort-select">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select [formControl]="toppings" [(value)]="selected" (selectionChange)="sort($event)">
          <mat-select-trigger>
            {{toppings.value ? toppings.value : ''}}
          </mat-select-trigger>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"></app-product>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="more-you-might-like">
  <div class="heading">More you might like</div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <app-product class="d-grid" [productData]="productData" *ngFor="let productData of moreyoulike"></app-product>
  </div>
</div>
