<div class="bg-dark img-container">
  <img src="assets/img/cover1.png" class="card-img" alt="wardrobe">
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab>
    <ng-template mat-tab-label>
      <span>All</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select d-none d-md-block">

        <!--<mat-form-field class="mr-3" appearance="fill">
          <mat-label>Filter By Discount</mat-label>
          <mat-select [formControl]="disc" (selectionChange)="discount($event)">
            <mat-select-trigger>
              {{disc.value ? disc.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let dis of disclist" [value]="dis">{{dis}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mr-3" appearance="fill">
          <mat-label>Filter By MinPrice</mat-label>
          <mat-select [formControl]="mini" (selectionChange)="minprice($event)">
            <mat-select-trigger>
              {{mini.value ? mini.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let minp of minplist" [value]="minp">{{minp}}</mat-option>
          </mat-select>
        </mat-form-field>-->

        <mat-form-field class="mr-3" appearance="fill">
          <mat-label>Filter By Price</mat-label>
          <mat-select multiple [formControl]="maxi" (selectionChange)="maxprice($event)">
            <mat-select-trigger>
              {{maxi.value ? maxi.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let maxp of maxplist" [value]="maxp">{{maxp}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!--<mat-form-field class="mr-3" appearance="fill">
          <mat-label>Filter By Ratings</mat-label>
          <mat-select [formControl]="ratings" (selectionChange)="filter($event)">
            <mat-select-trigger>
              {{ratings.value ? ratings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let rating of ratingList"[value]="rating">{{rating}}</mat-option>
          </mat-select>
        </mat-form-field>-->

        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="sort-select d-block d-md-none">
        <div class="row mr-0">
      
        <!--<mat-form-field class="mr-3" appearance="fill">
                <mat-label>Filter By Discount</mat-label>
                <mat-select [formControl]="disc" (selectionChange)="discount($event)">
                  <mat-select-trigger>
                    {{disc.value ? disc.value : ''}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let dis of disclist" [value]="dis">{{dis}}</mat-option>
                </mat-select>
              </mat-form-field>
      
              <mat-form-field class="mr-3" appearance="fill">
                <mat-label>Filter By MinPrice</mat-label>
                <mat-select [formControl]="mini" (selectionChange)="minprice($event)">
                  <mat-select-trigger>
                    {{mini.value ? mini.value : ''}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let minp of minplist" [value]="minp">{{minp}}</mat-option>
                </mat-select>
              </mat-form-field>-->
      
        <div class="ml-3 mr-3 d-flex">
          <mat-form-field class="mobwid" appearance="fill">
            <mat-label>Filter By Price</mat-label>
            <mat-select multiple [formControl]="maxi" (selectionChange)="maxprice($event)">
              <mat-select-trigger>
                {{maxi.value ? maxi.value : ''}}
              </mat-select-trigger>
              <mat-option *ngFor="let maxp of maxplist" [value]="maxp">{{maxp}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>      
        
      
        <!--<mat-form-field class="mr-3" appearance="fill">
                <mat-label>Filter By Ratings</mat-label>
                <mat-select [formControl]="ratings" (selectionChange)="filter($event)">
                  <mat-select-trigger>
                    {{ratings.value ? ratings.value : ''}}
                  </mat-select-trigger>
                  <mat-option *ngFor="let rating of ratingList"[value]="rating">{{rating}}</mat-option>
                </mat-select>
              </mat-form-field>-->

      <div>
        <mat-form-field class="mobwid" appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
        
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products | filter:maxp"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span>Hoodies</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>T-Shirts</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Dresses</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="more-you-might-like">
  <div class="heading">More you might like</div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <app-product class="d-grid" [productData]="productData" *ngFor="let productData of moreyoulike"
                 fxFlex.gt-sm="25%"></app-product>
  </div>
</div>
