.img-container {
  margin-bottom: 30px;
}

.sort-select {
  padding: 20px 20px 0 20px;
  text-align: right;
}

.dropdown_clickzone{
  position: absolute;
  right:0;
  z-index: 10;
  border-bottom: 3px solid #19398a;
}

.dropdown_current{
  display: block;
  padding:2.4 rem 2.5rem 1rem 1.5rem;
  line-height: 2 rem;
  position: relative;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  color:#19398a;
  font-weight: 700;
}

.dropdown_label{
  color: #a8a8a8;
  display: block;
  font-size: 1.1 rem;
  top:-.9rem;
  position: absolute;
}

.more-you-might-like {
  margin: 10px 0 20px 0;
  .heading {
    font-size: 25px;
    padding: 40px 20px 30px 20px;
    text-align: center;
  }
}
