<footer class="col-12">
  <div fxLayout="row wrap" fxFlexFill>
    <div fxLayout="row wrap" fxFlex="50%" fxFlex.lt-md="100%">
      <section class="section-1" fxFlex="50%" fxFlex.xs="100%">
        <div>
          <img src="assets/img/logo.png">
          <div class="social-media">
            <i class="fab fa-facebook-f pointer" (click)="externalUrlService.openUrlInNewTab('https://www.facebook.com/')"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            <i class="fab fa-instagram pointer" (click)="externalUrlService.openUrlInNewTab('https://www.instagram.com/swap_soul/')"></i>
          </div>
        </div>
      </section>
      <section class="section-2" fxFlex="50%" fxFlex.xs="100%">
        <div>
          <p>Track Your Order</p>
          <p>Request Exchange/Return</p>
          <p class="pointer-underline" routerLink='about'>About Us</p>
          <p>Contact Us</p>
        </div>
      </section>
    </div>
    <div fxLayout="row wrap" fxFlex="50%" fxFlex.lt-md="100%">
      <section class="section-3" fxFlex="50%" fxFlex.xs="100%">
        <div>
          <p class="pointer-underline" routerLink='policy/orders-payments'>Orders & Payments</p>
          <p class="pointer-underline" routerLink='policy/shipping-delivery'>Shipping & Delivery</p>
          <p class="pointer-underline" routerLink='policy/exchange-return'>Exchange & Returns</p>
          <p class="pointer-underline" routerLink='policy/privacy'>Privacy Policy</p>
          <p class="pointer-underline" routerLink='policy/terms'>Terms of Use</p>
        </div>
      </section>
      <section class="section-4" fxFlex="50%" fxFlex.xs="100%">
        <div>
          <p><a href="mailto:info@swapsoul.com"><i class="far fa-envelope"></i> info@swapsoul.com</a></p>
          <p><a href="tel:+91-1234567890"><i class="fas fa-phone-alt"></i> +91-1234567890</a></p>
          <p>
            <span class="pointer-underline" (click)="externalUrlService.openUrlInTopWindow('https://api.whatsapp.com/send?phone=+917799033320')">
              <i class="fab fa-whatsapp"></i> +91-77990 33320
            </span>
          </p>
          <p>We're located in Hyderabad, Andhra Pradesh, India</p>
          <p>Customer Care Hours:<br>Monday - Friday | 10 am - 6 pm</p>
          <p fxLayout="row wrap" class="font-35px icon-right-padding">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
          </p>
          <p class="text-right font-12px"><i class="far fa-copyright"></i>2021-2022 Swapsoul All Rights Reserved</p>
        </div>
      </section>
    </div>
  </div>
</footer>
