<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">Hidden brand</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->


<mat-grid-list cols="40" rowHeight="4px">
  <mat-grid-tile [colspan]="1" [rowspan]="12" [style.background]="'grey'">

  </mat-grid-tile>
  <mat-grid-tile [colspan]="8" [rowspan]="12" [style.background]="'white'">
      LOGO
  </mat-grid-tile>
  <mat-grid-tile [colspan]="31" [rowspan]="12" [style.background]="'grey'">
      <div class="float-right">
          <div class="example-button-row">
              <button mat-button>Mens</button>
              <button mat-button>Womens</button>
              <button mat-button disabled>Kids</button>
              <button mat-button>About</button>
              <a mat-button href="https://www.google.com/" target="_blank">Link</a>
          </div>
      </div>
      <div class="float-right">
          <div class="example-flex-container">
              <button mat-mini-fab disabled aria-label="search">
                  <mat-icon>search</mat-icon>
              </button>
              <button mat-icon-button aria-label="favorite">
                  <mat-icon>favorite_border</mat-icon>
              </button>
              <button mat-icon-button aria-label="cart">
                  <mat-icon>work_outliner</mat-icon>
              </button>

          </div>
      </div>

  </mat-grid-tile>

</mat-grid-list>
