@import "src/assets/scss/variables";

#our-navbar {
  top: 0;
  width: 100%;
  border-radius: 0;
}

.sticky {
  position: fixed;
  z-index: 500;
}

button {
  color: white;
  font-size: 18px;
}

button:hover {
  color: #ED3237;
}

#logo {
  height: auto;
  color: grey;
}

.text-white {
  color: white;
}

.navbar-brand {
  padding: 0 60px;

  img {
    height: 40px;
  }
}

svg, a {
  color: white;
}

.cart-items-count {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  position: relative;
  left: -18px;
  font-size: 12px;
  background: #daae0c;
  padding: 2px;
  top: -10px;
  display: inline-block;
  text-align: center;
}

a:hover {
  color: #ED3237;
  text-decoration: none;
}

.float-left {
  display: flex;
  text-align: center;
  float: left;
  margin-left: auto;
}

.float-right {
  display: flex;
  text-align: center;
  float: right;
  margin-right: auto;
}

.button-white {
  color: white;
  font-size: 18px;
}

.button-black {
  color: black;
}


.black-text {
  text-emphasis-color: black;
  text-align: center;
}

.tile-image {
  width: 100%;
  height: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


.search-container {
  max-width: 500px;

  .mat-form-field {
    font-size: 14px;
    line-height: 0.9em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 0px;
  }
}

.hasValue {
  .mat-form-field {
    width: 150px;
  }

  .searchIcon {
    background: #e2e9eb;
  }
}

.navbar-custom {
  //background-color: #373435;
  background-color: black;
}

.forgot-password {
  cursor: pointer;
}

.login, .signup {
  button.action {
    background-color: $secondary-color;
    margin-top: 10px;
    width: 100%;
  }

  button {
    mat-icon {
      color: black;
    }
  }
}

#psuedo-navbar {
  max-height: 74px;
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}