
<br><br><br><br><br>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:orange;
}
.grid-item {
  background-color: orange;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>
<div class="grid-container">
  <div class="grid-item" style="height:300px;">
    <h1 id="head1">&nbsp;Summer Sale is here</h1>
            <h1 id="head2"> &nbsp;&nbsp;UPTO 40% OFF</h1>
            <h2 id="head3">JAN 26-FEB 12</h2>
            <h2 id="head4">SALE</h2>  
    <h2 id="head5">SUMMER
    </h2>
    <img src="assets/banner.png" alt="banner">
                <p id="head6">
                    &nbsp;#supersale</p>
                    <a href="#"><button style=" margin-left:150px;margin-top:150px;" type="button" class="btn btn-light" id="btn3">
                      Know More </button></a>
  </div>  
  </div>
</body>
</html>
<br><br><br><br>
