<div class="bg-dark img-container" *ngIf="false">
  <img src="assets/img/cover2.png" class="card-img" alt="wardrobe">
</div>

<mat-tab-group mat-align-tabs="start" *ngIf="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <span>All</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span>Hoodies</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>T-Shirts</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span>Dresses</span>
    </ng-template>
    <div fxLayout="column">
      <div class="sort-select">
        <mat-form-field appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select [formControl]="toppings" (selectionChange)="sort($event)">
            <mat-select-trigger>
              {{toppings.value ? toppings.value : ''}}
            </mat-select-trigger>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-product class="d-grid" [productData]="productData" *ngFor="let productData of products"
                     fxFlex.gt-sm="25%"></app-product>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="more-you-might-like" *ngIf="false">
  <div class="heading">More you might like</div>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <app-product class="d-grid" [productData]="productData" *ngFor="let productData of moreyoulike"
                 fxFlex.gt-sm="25%"></app-product>
  </div>
</div>

<div class="launching-soon" fxLayoutAlign="center center" fxLayout="column">
  <div class="logo"><img src="assets/img/swapsoul_logo.png"></div>
  <div class="subheading">Swapsoul for Women,</div>
  <div class="heading">Launching soon!</div>
  <div class="action-item">
    <span routerLink="/men">
      Men's Page
    </span>
  </div>
</div>