<div class="cart-container">
  <div class="row margin-0">
    <div class="cart-navigation">
      <table>
        <tr>
          <td [ngClass]="isAddressSelection ? 'inactive' : ''"><img src="assets/img/bag.png"></td>
          <td></td>
          <td [ngClass]="isAddressSelection ? '' : 'inactive'"><img src="assets/img/bag.png"></td>
          <td></td>
          <td class="inactive"><img src="assets/img/bag.png"></td>
        </tr>
        <tr>
          <td [ngClass]="isAddressSelection ? 'inactive' : 'active'">My Bag</td>
          <td class="dashes">{{ "-".repeat(dashesOnNavigation) }}</td>
          <td [ngClass]="isAddressSelection ? 'active' : 'inactive'">Confirm Address</td>
          <td class="dashes">{{ "-".repeat(dashesOnNavigation) }}</td>
          <td class="inactive">Payment</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row margin-0" ngClass.gt-sm="d-flex"
       *ngIf="cartDetails.length > 0 && isCartDetailsLoaded && !isAddressSelection; else noCartItem">
    <div class="col-md-6 col-sm-12 bag-item-container" ngClass.gt-xs="border-right-npx">
      <div class="col-12 font-18px cart-product-heading"><strong>My Bag Items
        ({{ cartDetails.length.toString().padStart(2, '0') }})</strong></div>
      <div class="col-12 cart-item" *ngFor="let item of cartDetails">
        <div class="product-details-container d-flex">
          <div class="product-image-container">
            <img [src]="item['product']['productImgURL']">
          </div>
          <div class="product-details-text">
            <div class="product-details col-sm-12">
              <div class="margin-around" ngClass.gt-xs="font-20px"
                   ngClass.xs="font-16px">{{ item['product']['productName'] }}</div>
              <div class="margin-around" ngClass.gt-xs="font-23px"
                   ngClass.xs="font-18px">{{ item['product']['productSalePrice'] | currency: 'INR' }}</div>
              <div class="margin-around">
                <span class="font-14px strikethrough"
                      ngClass.lt-sm="custom-col-12">{{ item['product']['productRetailPrice'] | currency: 'INR' }}</span>
                <span class="font-12px discount"
                      ngClass.lt-sm="custom-col-12 padding-0">{{ item['product']['productDiscount'] }}% OFF</span>
              </div>
            </div>
            <div class="col-sm-12 modifiers">
              <div class="margin-around col-xs-12 col-sm-6 quantity-modifier">
                <form>
                  <div mat-ripple class="value-button decrease" (click)="decreaseProductQuantity(item)"><span><mat-icon
                    class="font-18px">remove</mat-icon></span></div>
                  <input type="number" class="number" [ngModelOptions]="{ standalone: true }"
                         (ngModelChange)="modifyQuantity(item)" pattern="[0-9]" min="1"
                         [ngClass]="isQuantityValid(item['productQuantity']) ? '' : 'invalid-input'"
                         [(ngModel)]="item['productQuantity']"/>
                  <div mat-ripple class="value-button increase" (click)="increaseProductQuantity(item)"><span><mat-icon
                    class="font-18px">add</mat-icon></span></div>
                </form>
              </div>
              <div class="margin-around col-xs-12 col-sm-6 size-modifier">
                <form>
                  <select>
                    <option selected disabled>Size: {{item['productSize']}}</option>
                  </select>
                </form>

              </div>
            </div>
          </div>
        </div>
        <div class="action-btn-container color-gray d-flex">
          <div class="col-xs-12 item-action-btn text-center">
            <button mat-flat-button class="mt-2" (click)="delete(item)">
              <strong>{{ "Delete" | uppercase }}</strong>
              <mat-icon class="mb-3 ml-2">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!--      <div class="col-12 add-from-wishlist" ngClass.gt-xs="font-20px" ngClass.xs="font-16px">-->
      <!--        <span>Add More From Wishlist</span>-->
      <!--        <mat-icon>keyboard_arrow_right</mat-icon>-->
      <!--      </div>-->
    </div>
    <div class="col-md-6 col-sm-12 price-details-container">
      <!--      <div class="coupon-code-container">-->
      <!--        <mat-icon class="horizontal-invert">loyalty</mat-icon>-->
      <!--        <input type="text" id="coupon-code" placeholder="Enter Coupon Code">-->
      <!--        <button mat-ripple class="coupon-code-btn">Check</button>-->
      <!--      </div>-->
      <div class="price-calculation-container">
        <div class="price-heading font-18px">Price Details ({{ cartDetails.length.toString().padStart(2, '0') }}
          Items)
        </div>
        <div class="price-components">
          <p>
            <span class="left">Total MRP ( Including Taxes )</span>
            <span class="right">{{ getTotalPrice() | currency: 'INR' }}</span>
          </p>
          <p>
            <span class="left">Discount on MRP</span>
            <span class="right color-deeppink">- {{ getTotalDiscount() | currency: 'INR' }}</span>
          </p>
          <p>
            <span class="left">Delivery Fee</span>
            <span class="right">{{ getDeliveryFee() | currency: 'INR' }}</span>
          </p>
        </div>
        <div class="price-total">
          <div>
            <span>Sub Total</span><br>
            <span class="total-amount font-18px">{{ getCartTotalPrice() | currency: 'INR' }}</span>
          </div>
          <div class="right next-step">
            <button mat-ripple (click)="isAddressSelection = !isAddressSelection">Proceed</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noCartItem>
    <div class="row margin-0" ngClass.gt-sm="d-flex" *ngIf="!isAddressSelection">
      <div class="col-12 text-center font-18px">
        <strong *ngIf="isCartDetailsLoaded; else loading">Please add few products. Your cart is empty.</strong>
        <ng-template #loading>
          <strong>Loading cart ...</strong>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <div class="row margin-0 address-container" ngClass.gt-sm="d-flex" *ngIf="isAddressSelection">
    <div class="row margin-0" ngClass.gt-sm="d-flex">
      <div class="col-12 font-18px">
        <div class="address-header"><strong>Please select the delivery address</strong></div>
        <div class="back-btn">
          <button mat-button (click)="isAddressSelection = !isAddressSelection">
            <mat-icon class="font-20px">keyboard_arrow_left</mat-icon>
            {{ "Back" | uppercase }}</button>
        </div>
        <div fxLayoutAlign="center">
          <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
            <mat-card class="address-card" *ngFor="let address of userAddress; let i=index">
              <div fxLayout="column">
                <mat-card-content>
                  <div>{{address.addressLine1}}</div>
                  <div>{{address.addressLine2}}</div>
                  <div>{{address.city}}</div>
                  <div>Pincode: {{address.pincode}}</div>
                </mat-card-content>
                <mat-card-actions fxLayoutAlign="center">
                  <button mat-button
                          (click)="selectAddressAndProceed(i, address)">{{ "Deliver Here" | uppercase }}</button>

                          
                </mat-card-actions>
                <div fxLayout="row" class="address-clickable-text font-16px">
                  <span mat-ripple (click)="addOrEditAddress(i, address)">Edit</span> |
                  <span mat-ripple (click)="deleteAddress(i)">Delete</span>
                </div>
              </div>
            </mat-card>
            <mat-card mat-ripple class="address-card add-address text-center" (click)="addOrEditAddress()">
              <div fxLayout="row">
                <mat-card-content>
                  <mat-icon class="font-40px color-gray">add</mat-icon>
                  <div class="color-gray"><strong>Add address</strong></div>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <button style="float: right; margin: 5%;" class="btn btn-primary" (click)="initPay()">Pay with Razorpay</button>
  </div>
  <!--  <div class="col-12 also-like">-->
  <!--    <div class="heading font-20px col"><strong>You May Also Like</strong></div>-->
  <!--    <div class="also-like-carousal">-->
  <!--      <div class="product-card" *ngFor="let i of [].constructor(3)">-->
  <!--        <div class="img-container">-->
  <!--          <img src="assets/img/productimage1.jpg">-->
  <!--        </div>-->
  <!--        <div class="product-description">-->
  <!--          <div>-->
  <!--            <span class="product-name font-18px" ngbTooltip="Great Men's Shirt Number 1">Great Men's Shirt Number 1</span>-->
  <!--            <span class="product-rating font-16px right">4.5</span>-->
  <!--          </div>-->
  <!--          <div>-->
  <!--            <span class="product-price font-20px"><strong>{{ 400 | currency: 'INR' }}</strong></span>-->
  <!--            <span class="product-actual-price strikethrough font-13px text-center">{{ 500 | currency: 'INR' }}</span>-->
  <!--            <span class="product-discount font-13px text-right">{{ "20% OFF" | uppercase }}</span>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
