<div class="cart-container">
  <div class="col-12">
    <div class="cart-navigation">
      <table>
        <tr>
          <td><img src="assets/img/bag.png"></td>
          <td></td>
          <td><img src="assets/img/bag.png"></td>
          <td></td>
          <td><img src="assets/img/bag.png"></td>
        </tr>
        <tr>
          <td>My Bag</td>
          <td class="dashes">{{ "-".repeat(dashesOnNavigation) }}</td>
          <td>Confirm Address</td>
          <td class="dashes">{{ "-".repeat(dashesOnNavigation) }}</td>
          <td>Payment</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-12" ngClass.gt-sm="d-flex">
    <div class="col-lg-6 col-md-12 bag-item-container" ngClass.gt-sm="border-right-npx">
      <div class="col-12 font-18px cart-product-heading"><strong>My Bag Items (03)</strong></div>
      <div class="col-12 cart-item" *ngFor="let i of [].constructor(3)">
        <div class="product-details-container d-flex">
          <div class="product-image-container">
            <img src="assets/img/productimage1.jpg">
          </div>
          <div class="product-details-text">
            <div class="product-details col-md-6 col-sm-12">
              <div class="margin-around" ngClass.gt-xs="font-20px" ngClass.xs="font-16px">Product name here</div>
              <div class="margin-around" ngClass.gt-xs="font-23px"
                   ngClass.xs="font-18px">{{ 256 | currency: 'INR' }}</div>
              <div class="margin-around">
                <span class="font-14px strikethrough">{{ 256 | currency: 'INR' }}</span>
                <span class="font-12px discount">50% OFF</span>
              </div>
            </div>
            <div class="product-discount col-md-6 col-sm-12 text-right-md font-16px">
              <div class="margin-around color-deeppink">Coupon Discount: {{ 120 | currency: 'INR'}}</div>
              <div class="margin-around">Code: <span class="coupon-code color-deeppink"><strong>{{ "New120" | uppercase }}</strong></span>
              </div>
            </div>
            <div class="col-sm-12 modifiers">
              <div class="margin-around col-xs-12 col-sm-6 quantity-modifier">
                <form>
                  <div class="value-button" id="decrease"><span><mat-icon class="font-18px">remove</mat-icon></span></div>
                  <input type="number" id="number" value="1"/>
                  <div class="value-button" id="increase"><span><mat-icon class="font-18px">add</mat-icon></span></div>
                </form>
              </div>
              <div class="margin-around col-xs-12 col-sm-6 size-modifier">
                <form>
                  <select>
                    <option selected disabled>Size: XL</option>
                    <option>Size: S</option>
                    <option>Size: L</option>
                  </select>
                </form>

              </div>
            </div>
            <div class="col-sm-12 delivery margin-around color-gray">Delivery by <strong class="color-black">6th March</strong> at
              <strong class="color-black">560066</strong></div>
          </div>
        </div>
        <div class="action-btn-container color-gray d-flex">
          <div class="col-xs-6 item-action-btn text-center border-right-npx"><strong>{{ "Remove" | uppercase }}</strong>
          </div>
          <div class="col-xs-6 item-action-btn text-center"><strong>{{ "Move To Wishlist" | uppercase }}</strong></div>
        </div>
      </div>
      <div class="col-12 add-from-wishlist">
        <span>Add More From Wishlist</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 price-details-container">
      <div class="coupon-code-container">
        <mat-icon class="horizontal-invert">loyalty</mat-icon>
        <input type="text" id="coupon-code" placeholder="Coupon Code">
        <button mat-ripple class="coupon-code-btn">Check</button>
      </div>
      <div class="price-calculation-container">
        <div class="price-heading font-18px">Price Details ( 02 Items )</div>
        <div class="price-components">
          <p>
            <span class="left">Total MRP ( Including Taxes )</span>
            <span class="right">{{ 3417 | currency: 'INR' }}</span>
          </p>
          <p>
            <span class="left">Discount on MRP</span>
            <span class="right color-deeppink">- {{ 417 | currency: 'INR' }}</span>
          </p>
          <p>
            <span class="left">Delivery Fee</span>
            <span class="right">{{ 50 | currency: 'INR' }}</span>
          </p>
          <p>
            <span class="left">Coupon Discount</span>
            <span class="right color-deeppink">- {{ 120 | currency: 'INR' }}</span>
          </p>
        </div>
        <div class="price-total">
          <div>
            <span>Sub Total</span><br>
            <span class="total-amount font-18px">{{ 1234 | currency: 'INR' }}</span>
          </div>
          <div class="right next-step">
            <button mat-ripple>Next Step</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 also-like">
    <div class="heading font-20px col"><strong>You May Also Like</strong></div>
    <div class="also-like-carousal">
      <div class="product-card" *ngFor="let i of [].constructor(3)">
        <div class="img-container">
          <img src="assets/img/productimage1.jpg">
        </div>
        <div class="product-description">
          <div>
            <span class="product-name font-18px" ngbTooltip="Great Men's Shirt Number 1">Great Men's Shirt Number 1</span>
            <span class="product-rating font-16px right">4.5</span>
          </div>
          <div>
            <span class="product-price font-20px"><strong>{{ 400 | currency: 'INR' }}</strong></span>
            <span class="product-actual-price strikethrough font-13px text-center">{{ 500 | currency: 'INR' }}</span>
            <span class="product-discount font-13px text-right">{{ "20% OFF" | uppercase }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



