<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  margin-left:270px;
  color:grey;
}
</style>
</head>
<body>
<div class="grid-container">
  <div class="grid-item">
  <img style="width:300px;" src="assets/contact.jpg">
  </div>
  <div style="margin-left:-65px;background-color:whitesmoke;width:400px;" class="grid-item">
   <h1><br>Contact Us</h1>
  </div> 
</div>

</body>
</html>
