<div class="policy">
  <div class="heading text-center">
    <div>SHIPPING & DELIVERY POLICY</div>
  </div>
  <div class="paragraph">
    <div class="content">
      <p>We partner with Delhivery and offer free shipping across India on all orders. In case a pin code is not
        serviced by Delhivery, the order would be shipped through another courier.</p>
      <p>Orders received by 2 pm are usually dispatched on the same day or latest by next business day.</p>
      <p>Once the orders are dispatched, it usually takes 2-5 days for delivery. However, actual delivery periods may
        vary depending on extraneous factors.</p>
    </div>
  </div>
</div>
