<div class="card bg-dark text-white">
    <img src="assets/img/cover.jpg" class="card-img" alt="wardroab">
    <div class="card-img-overlay">
    </div>
  </div>

  <br>
<h1>-----------------------------------------------------------------------------collection view goes here--------------------------------------------------------------------------------------</h1>
<div class="container">
  <div class="row mx-lg-n5">
    <div class="col py-5 px-lg-5 border bg-dark"><h1><b>Footer</b></h1></div>
</div>
</div>