<div class="policy">
  <div class="heading text-center">
    <div>ORDERS & PAYMENTS POLICY</div>
  </div>
  <div class="paragraph">
    <div class="sub-heading">
      <div>Payment Methods:</div>
    </div>
    <div class="content">
      <p>We work with a leading Payment Gateway that supports over 100+ payment modes including Credit and Debit Cards
        (Visa, Mastercard, Rupay, AMEX, Diners), Net Banking from top 50+ banks, UPI (Web Collect & UPI Intent), Online
        Wallets, EMI and NEFT/RTGS payments.</p>
      <p>The payment gateway is PCI DSS Level 1 compliant ensuring the highest level of security.</p>
    </div>
  </div>
  <div class="paragraph">
    <div class="sub-heading">
      <div>Orders:</div>
    </div>
    <div class="content">
      <p>Once orders are placed, an order confirmation email is sent.If you have any urgent changes please contact our
        team ASAP by contacting us on the email: <a href="mailto:info@swapsoul.com">info@swapsoul.com</a> or via phone.
        We are unable to change or cancel an order once it has been shipped.</p>
    </div>
  </div>
</div>
