.float-left{
    display: flex;
    text-align: center;
    float: left;
    margin-left: auto;
  }
  .float-right {
    display: flex;
    text-align: center;
    float:right;
    margin-right: auto;
    
  }