.example-card {
    max-width: 500px;
    
  }
  
.box{
    margin: 3%;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.red-button {
    background-color:red;
    border: none;
    color: white;
    float: right;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    // padding: 1px 120px;
  }


  #footer{
    color:white;
    h1{
        color:white;
        margin-left:-150px;
    }
    svg{
  
    }
    svg:hover{
      color:white;
    }
  }
  .nav{
      button{
          background-color: transparent;
          margin-top:0px;
      }
  }
  .foo{
    color:white;
    font-size:18px;
  }
  
  #para{
    color:white;
    font-size:18px;
    width:100%;
  }
  

h1{
    color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;text-align:center;
}

table{
    margin:0 auto;
}
span{
    display:inline-block; vertical-align:middle; margin:29px 0 26px;width:200px;
}
button{
    
    background:#ED3237;text-decoration:none !important; font-weight:500; color:#fff;font-size:14px;margin-top:-33px;
}

.table{
    max-width:600px;background:#fff; border-radius:3px;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);

}
tr,td{
    border:transparent;
}
hr{
    width:325px;
    color:rgb(68, 66, 66);
}
h4{
    color:red;width:350px;
}
  .page-footer-section{
    background-color:#373435;
  }