<div class="box">
  <mat-card class="example-card">
    <mat-card-header layout="row" layout-align="center center">
      <mat-card-title>You have requested to reset your password</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
      <div class="card-layout">
        <form [formGroup]="emailForm">
          <div [class.disabled]="!disabledFlag">
            <p style="font-weight: bold;">Enter your email:</p>
            <h5 style="color: red;">{{message}}</h5>
            <button class="red-button" [disabled]="!emailForm.valid" (click)="submitEmail()" mat-button>SEND
              EMAIL</button>
            <div class="card-column">
              <mat-form-field style="margin: 1px; margin-right: 10px;" fxFlex appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. mail@gmail.com" />
                <mat-error
                  *ngIf="emailForm.get('email').hasError('email') && !emailForm.get('email').hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailForm.get('email').hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </form>

        <form [formGroup]="registerForm" (submit)="submitForm()">
          <div [class.disabled]="disabledFlag">
            <p style="font-weight: bold;">Enter your verification code:</p>
            <!-- <button class="red-button" mat-button>CONFIRM </button> -->
            <div class="card-column">
              <mat-form-field style="margin: 1px; margin-right: 10px;" fxFlex appearance="fill">
                <mat-label>verification code</mat-label>
                <input type="text" matInput formControlName="passwordOtp" placeholder="Ex. swapsoul" />
                <mat-error *ngIf="registerForm.get('passwordOtp').hasError('required')">
                  Verification-Code is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [class.disabled]="disabledFlag">
            <p style="font-weight: bold;">Enter new Password:</p>
            <div class="card-column">
              <mat-form-field fxFlex appearance="fill">
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registerForm.get('password').hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [class.disabled]="disabledFlag" *ngIf="registerForm.controls['password'].valid">
            <p style="font-weight: bold;">Confirm new Password:</p>
            <div class="card-column">
              <mat-form-field fxFlex appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input [type]="hide ? 'confirmpassword' : 'text'" matInput formControlName="confirmpassword" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                  *ngIf="registerForm.controls['confirmpassword'].pristine || registerForm.controls['confirmpassword'].errors?.MatchPassword">
                  Password does not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div [class.disabled]="disabledFlag" class="card-column">
            <button [disabled]="!registerForm.valid" type="submit" mat-button class="red-button">Submit</button>
          </div>
          <h5 style="color: red;">{{alert}}</h5>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
