
<br><br><br>
<html>
<head>
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:orange;
}
.grid-item {
  background-color: orange;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>
<div class="grid-container">
  <div class="grid-item">
    <h1 style="width:550px;height:60px;padding:10px;margin-left:50px;margin-top:30px;font-size:50px;">&nbsp;&nbsp;Summer Sale is here</h1>
            <h1 style="width:400px;margin-left:50px;font-size:50px;height:50px;padding:10px;"> &nbsp;&nbsp;UPTO 40% OFF</h1>
            <h2 style="margin-left:100px;color:white;font-size:30px;">JAN 26-FEB 12</h2>
            <h2 style="width:300px;margin-left:-15px;margin-top:-6px;color:white;opacity:0.3;font-size:90px;">SALE</h2>  
  </div>
  <div class="grid-item">
    <h2 style="width:300px;margin-left:105px;margin-top:15px;color:white;opacity:0.3;font-size:100px;">SUMMER
    </h2>
    <img style="height:320px;margin-left:-100px;position:absolute; margin-top:-100px;" src="assets/banner.png"
                alt="banner">
                <p style="background-color: rgb(73, 71, 71); color:white;width:140px;height:40px;position:absolute;padding:5px;font-size:25px;margin-left:325px;margin-top:190px;opacity:1">
                    &nbsp;#supersale</p>
  </div>  
</div>
<a href="#"><button style=" margin-left:650px;margin-top:-150px;" type="button" class="btn btn-light" id="btn3">
    Know More </button></a>
</body>
</html>
