
<br/><br/>
<div class="container-fluid d-flex">
    <div class="col-5">
        <h4 style="font-size: 28px;margin-right: 40px;">For Her</h4>
        <div class="d-block" style="margin-left: 0px;">
            <mat-toolbar class="d-inline-flex" style="background-color:white;">
                <span (click)="myClick(1)" [ngClass]="status1" >All</span>
                <span class="example-spacer"></span>
                <span (click)="myClick(2)" [ngClass]="status2 ? 'success' : 'danger'" >New Arrivals</span>
                <span class="example-spacer"></span>
                <span (click)="myClick(3)" [ngClass]="status3 ? 'success' : 'danger'" >Popular</span>
                <span class="example-spacer"></span>
                <span (click)="myClick(4)" [ngClass]="status4 ? 'success' : 'danger'">Best Offers</span>
                <span class="example-spacer"></span>
            </mat-toolbar>
            <img src="assets/p1.png" style="margin-left:15px; margin-right: 40px;" alt="p1">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p2">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p3">
            <br/>
            <img src="assets/p1.png" style="margin-left:15px; margin-right: 40px;" alt="p1">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p2">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p3">
            <br/>
            <img src="assets/p1.png" style="margin-left:15px; margin-right: 40px;" alt="p1">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p2">
            <img src="assets/p1.png" style="margin-right: 40px;" alt="p3">
        </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-5" style="margin-right: 30px;">
        <h4 class="ml-4" style="font-size: 28px;">For him</h4>
        <img src="assets/essentials.png" alt="tp" style="transform: translate(20px,50px);">
    </div>
</div>
<br><br>