<div class="policy">
  <div class="heading text-center">
    <div>Campus Ambassador</div>
  </div>
  <div class="paragraph">
    <div class="content">
      <p>SwapSoul welcome those aspirants who want to support the organic and pollution free fashion as campus ambassador. The role of Campus Ambassador is to make the students, teachers, and other people around them, aware about the organic cotton, pollution free fashion and sustainable fashion.
        Campus Ambassador will have the opportunity for:-</p>
      <ol>
        <li>Learning about clothing industry like swapsoul</li>
        <li>Leading and making people aware about the organic cotton and slow fashion</li>
        <li>Ultimately leading to a change in the society. Replacing the artificial and polluting clothes by natural ones, hence leading to a eco-friendly generation</li>
      </ol>

      <p>Campus ambassador will have the following perks and benefits:</p>

      <ol>
        <li>Pre - Placement offer</li>
        <li>Merchandise</li>
        <li>Swapsoul coupons</li>
        <li>Gift cards</li>
        <li>Performance based stipend</li>
      </ol>
      <p>Fill the form below to enroll as a campus ambassador:</p>
      <p><button mat-flat-button color="warn"  (click)="externalUrlService.openUrlInNewTab('https://docs.google.com/forms/d/e/1FAIpQLSexSRdwAMGYqjxr7wtXShjo9vA1qK8ghjMlymSU7DRsE_wpXA/viewform?usp=sf_link')">Campus Ambassador Form</button></p>

    </div>
  </div>
</div>

