#footer{
    color:white;
    
    svg{
  
    }
    svg:hover{
      color:white;
    }
  }
  .foo{
    color:white;
    font-size:18px;
    background-color: transparent;
  }
  
  #para{
    color:white;
    font-size:18px;
  }
  .verified{
      text-align:center;
      svg{
         color:green;
      }
  }
  button{
    background-color: #ED3237;
    color:white;
    border-radius: 0%;
    left:40%;
  }