#footer{
    color:white;
    
    svg{
  
    }
    svg:hover{
      color:white;
    }
  }
  .foo{
    
    color:white;
    font-size:18px;
    background-color: transparent;
    margin-right:15px;
    
  
}
  #para{
    color:white;
    font-size:18px;
  }
  .verified{
      text-align:center;
      svg{
         color:green;
      }
  }
  
  button{
    background-color: #ED3237;
    color:white;
    left:40%;
  }
  

 .mobile{
   button{
     background-color: #ED3237;
     color:white;
     left:12%;
   }
   .foo{
     font-size:18px;
     background-color: transparent;
     margin-left:10px;
   }
 }
 .mobile1{
   .foo{
     margin-left:-5px;
   }
 }
  .page-footer-section{
  background-color:#373435;
}