.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none;}

.container{
    text-align:left;
    color:white;
    font-size:40px;
    font-weight:900px;
}
#text{
    text-align:left;
    position:absolute;
}

        #btn1{
            background:transparent;
            color:white;
            width:150px;
            height:50px;
            margin-top:380px;
            margin-left:-140px;
            position:absolute;
            border:3px solid white;

        }
        #btn1:hover{
            background: white;
            color:grey;
        }
       #btn1{
        margin-left:-300px;
       }
       #btn2{
        background:transparent;
        color:white;
        width:150px;
        height:50px;
        margin-top:380px;
        margin-left:-140px;
        position:absolute;
        border:3px solid white;

    }
    #btn2:hover{
        background: white;
        color:grey;
    }
   #btn2{
    margin-left:-320px;
   }
   #btn3{
    background:transparent;
    color:white;
    width:150px;
    height:50px;
    margin-top:380px;
    margin-left:-140px;
    position:absolute;
    border:3px solid white;

}
#btn3:hover{
    background: white;
    color:grey;
}
#btn3{
margin-left:-300px;
}
        @media only screen and (min-device-width : 300px) and (max-device-width: 480px) {
            .grid-container{
              margin-left:-50px;
              margin-right:60px;
            }
            .MultiCarousel{
                margin-left:-10px;
                width:650px;
            }
            
        }