.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}
.grid-item {
  background-color: rgb(128, 128, 128);
  padding: 20px;
  font-size: 30px;
  height:300px;
  width:680px;
  margin-left:320px;
  margin-top:0px;
  position:static;
  margin-top:-19px;
}
h1{
    color:rgb(59, 53, 53);
    margin-left:25px;
    font-size:25px;
}
@media only screen and (min-device-width : 300px) and (max-device-width: 480px) {
  .grid-container{
    margin-left:-350px;
  }
  .grid-item{
    width:690px;
  }
}