@import "src/assets/scss/variables";

.container {
  padding: 20px 15px;

  .address {
    margin-top: 50px;
  }

  section {
    .heading {
      font-size: 30px;
      font-weight: bold;
      border-bottom: $border-width solid $border-color;
      padding-bottom: 25px;
    }

    .context {
      padding: 20px;

      .row-item {
        line-height: 36px;
        align-items: center;
      }

      .label {
        min-width: 100px;
        font-size: 16px;
        font-weight: bold;
        padding: 0 10px;
      }

      .field-value, .field-value-editable {
        min-width: 230px;
        padding: 0 15px;
        background: $border-color;
        border-radius: $border-radius-px;
        font-size: 16px;

        input {
          height: 30px;
          border: none;
          padding: 0;
        }
      }

      .action-item {
        button {
          font-size: 16px;
          color: $primary-color;
          font-weight: bold;
          padding: 0 15px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}

.address-card {
  display: flex;
  flex: 1 1 0;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;

  .address-clickable-text {
    span {
      text-decoration: underline;
      padding: 0 5px;
      cursor: pointer;
    }
  }
}

.add-address {
  border: $border-width dashed $border-color;
  box-shadow: none;
}