<br/>
<div class="container">
    <div class=".col-xs-4 .col-md-offset-2">
        <div class="blue panel panel-default panel-info Profile">
            <div class="panel-heading">
                <strong class="blackcol">My Profile</strong>  
                </div>
            <div class="panel-body">
                
                <div class="form-horizontal">
                    <form>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">UserName</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="userName" placeholder="{{userName}}"
                                    ng-model="me.firstName" disabled>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                                <input class="form-control" type="text" name="email" placeholder="{{useremail}}"
                                    ng-model="me.email" disabled>
                            </div>
                        </div>
                                               
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-4">
                                <form (submit)="onSubmit()">
                                    <input [(ngModel)]="mobile" (keyup)="onKey($event)" class="form-control" (keypress)="numberOnly($event)" maxlength="10" type="text" name="phone"
                                        placeholder="{{phone}}" ng-model="me.phone" disabled>
                                </form>
                                
                            </div>
                                <mat-icon class="write" (click)=removedisabled();>create</mat-icon>
                        </div>

                        <div *ngIf="error==1">
                            <p class="ml-3">Please Enter Valid 10 Digit Mobile Number</p>
                        </div>

                        <div *ngIf="error==2">
                            <p class="ml-3">Phone Number Updated Successfully!</p>
                        </div>

                        <div class="form-group" *ngIf="flag==1"> 
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" (click)="updateMe()">Update</button>
                            </div>
                        </div>

                        <!--<div class="form-group">
                            <label class="col-sm-2 control-label">Delivery Address</label>
                            <div class="col-sm-4">
                                <form (submit)="onSubmit()">
                                    <input [(ngModel)]="address" class="form-control"
                                        maxlength="25" type="text" name="address" placeholder="MyAddress" ng-model="me.address" disabled>
                                </form>
                        
                            </div>
                            <mat-icon class="write" (click)=removedisabled1();>create</mat-icon>
                        </div>
                        
                        
                        <div *ngIf="error1==2">
                            <p class="ml-3">Delivery Address Updated Successfully!</p>
                        </div>
                        
                        <div class="form-group" *ngIf="flag1==1">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-primary" (click)="updateMe1()">Update</button>
                            </div>
                        </div>

                        <div class="form-group">
                        </div>-->
                        
                    </form>
                </div> <!-- end form-horizontal -->
            </div> <!-- end panel-body -->

        </div> <!-- end panel -->

            <div class="containerv d-flex">
                <p class="headin"><strong>My Address</strong></p>
                <form class="addressBox d-block" method="POST">
                    <div class="submitBox form-group">
                        <div class="inputBox">
                            <div class="formText">Address Line 1</div>
                            <div class="line1box">
                                <input [(ngModel)]="addline1" (keyup)="onKeyline1($event)" placeholder="{{useraddress['addressLine1']}}" name="Line1" class="inputEle" required="required" id="line1" type="text" disabled>
                            </div>
                        </div>

                        <div class="inputBox">
                            <div class="formText">Address Line 2</div>
                            <div class="line1box">
                                <input [(ngModel)]="addline2" (keyup)="onKeyline2($event)" placeholder="{{useraddress['addressLine2']}}" name="Line2" class="inputEle" required="required" id="line2" type="text" disabled>
                            </div>
                        </div>

                        <div class="inputBox">
                            <div class="formText">City</div>
                            <div class="line1box">
                                <div class="errorMessageName d-none">Please enter valid line 1</div>
                                <input [(ngModel)]="city" (keyup)="onKeycity($event)" placeholder="{{useraddress['city']}}" name="city" class="inputEle" required="required" id="city" type="text" disabled>
                            </div>
                        </div>

                        <div class="inputBox">
                            <div class="formText">Pincode</div>
                            <div class="line1box">
                                <input [(ngModel)]="pin" (keyup)="onKeypin($event)" placeholder="{{useraddress['pincode']}}" name="pin" maxlength="6" class="inputEle" required="required" disabled id="pincode" type="text">
                            </div>
                        </div>

                    </div>
                </form>
                <button *ngIf="addressflag==0 && addupsuccess==false" mat-raised-button class="mt-3 addbutton" (click)="removeDisabledAddress()">
                    <span>Change</span>
                </button>

                <button *ngIf="addressflag==1" mat-raised-button class="mt-3 addbutton" (click)="updateAddress()">
                        <span>Submit</span>
                </button>

                <p class="mt-3 headin" *ngIf="addupsuccess==true">Address Updated Successfully !</p>
            </div>


    </div> <!-- end size -->
</div> <!-- end container-fluid -->