<div class="container">
    <section class="details">
        <div class="heading">My Profile</div>
        <div class="context" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign.xs="center">
            <div fxLayout="row wrap" class="row-item">
                <span class="label" ngClass.gt-xs="text-right">Username</span>
                <span class="field-value" fxFlex="40%" fxFlex.xs="100%">{{userDetails?.userName}}</span>
            </div>
            <div fxLayout="row wrap" class="row-item">
                <span class="label" ngClass.gt-xs="text-right">Email</span>
                <span class="field-value" fxFlex="40%" fxFlex.xs="100%">{{userDetails?.userEmail}}</span>
            </div>
            <div fxLayout="row wrap" class="row-item">
                <span class="label" ngClass.gt-xs="text-right">Phone</span>
                <span class="field-value" fxFlex="40%" fxFlex.xs="100%" *ngIf="!isEditMode">{{userDetails?.phoneNumber}}</span>
                <span class="field-value-editable" fxFlex="40%" fxFlex.xs="100%" *ngIf="isEditMode"><input [(ngModel)]="phoneNumber" type="number" (keyup)="restrictPhoneNumber()"></span>
                <span class="action-item" fxFlex.xs="100%" fxLayoutAlign="center">
                    <button mat-button (click)="toggleEditMode()">{{ isEditMode ? "Update": "Edit" }}</button>
                </span>
            </div>
        </div>
    </section>
    <section class="address">
        <div class="heading">My Addresses</div>
        <div class="context">
            <div fxLayoutAlign="start">
                <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch">
                    <mat-card class="address-card" *ngFor="let address of userAddress; let i=index">
                        <div fxLayout="column">
                            <mat-card-content>
                                <div>{{address.name}}</div>
                                <div>{{address.addressLine1}}</div>
                                <div>{{address.addressLine2}}</div>
                                <div>{{address.city}}</div>
                                <div>Pincode: {{address.pincode}}</div>
                                <div>Contact Number: {{address.contactNumber}}</div>
                            </mat-card-content>
                            <div fxLayout="row" class="address-clickable-text font-16px">
                                <span mat-ripple (click)="commonService.addOrEditAddress(i, address)">Edit</span> |
                                <span mat-ripple (click)="commonService.deleteAddress(i)">Delete</span>
                            </div>
                        </div>
                    </mat-card>
                    <mat-card mat-ripple class="address-card pointer add-address text-center" (click)="commonService.addOrEditAddress()">
                        <div fxLayout="row">
                            <mat-card-content>
                                <mat-icon class="font-40px color-gray">add</mat-icon>
                                <div class="color-gray"><strong>Add address</strong></div>
                            </mat-card-content>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </section>
</div>