<!DOCTYPE html>
<br>
<h2>Home > Men > Shirt > <span style="color:blue;">XYZ</span></h2>
<table class="table table-bordered">

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td rowspan="3">Mark</td>
        <td><h2>Product Name</h2> <br> Rs 456 <br> <del>Rs 486</del> &nbsp;<span style="color:rgb(226, 70, 96);"> 30% OFF <br> Inclusive all taxes</span></td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
