<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>

    <h1 style="color:grey;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;margin-left:40px;">Our Story</h1><br>

    <div class="row">
        <div class="column" style="background-color:white;">
            <div style="margin-left:300px; background-color: #D3D3D3;width:280px; height:300px; ">
                <img style="width:400px;height:500px;" src="assets/Group 4.png">
            </div>
        </div>
        <div class="column">
            <div class="box"
                style="background-color: white; color:grey;width:450px;height:400px;margin-top:0px;margin-left:140px;margin-top:50px; font-weight:bold;">
                <h2
                    style="font-family: Verdana, Geneva, Tahoma, sans-serif;color:gold; font-size: 20px;margin-left:25px;">
                    "A vision statement defines what you <br>want to persue for your cause"</h2><br>
                <h3 style="font-weight: 550;font-size:15px;color:rgb(107, 106, 106);text-align:center;">The quick,brown
                    fox jumps over a lazy<br>dog.DJs flock by when MTV ax quiz prog<br>Junk MTV quiz graced by fox
                    whelps.<br>Bawds jog, flick quartz, vex nymphs.<br>Waltz, bad nymph, for quick jigs vex! Fox.<br>The
                    quick,brown fox jumps over a lazy<br>dog.DJs flock by when MTV ax quiz prog<br>Junk MTV quiz graced
                    by fox whelps.<br>Bawds jog, flick quartz, vex nymphs.<br>Waltz, bad nymph, for quick jigs vex! Fox.
                </h3><br>
                <a href="#1"><button type="button" class="btn btn-light" id="btn1">View More </button></a>
            </div>
        </div>
    </div>
    <br><br><br><br><br> -->

    <html>
<head>
</head>
<body>
    <br>
    <h1 style="color:grey;font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;margin-left:40px;">Our Story</h1><br>

<div class="grid-container">
  <div class="grid-item">
  <img src="assets/Group4.png">
  </div>
  <div class="grid-item" id="Story">
    <h2><br> "A vision statement defines what you <br>want to persue for your cause"</h2>
    <h3 style="font-size:15px;color:rgb(107, 106, 106);text-align:center;"><br>The quick,brown
        fox jumps over a lazy<br>dog.DJs flock by when MTV ax quiz prog<br>Junk MTV quiz graced by fox
        whelps.<br>Bawds jog, flick quartz, vex nymphs.<br>Waltz, bad nymph, for quick jigs vex! Fox.<br>The
        quick,brown fox jumps over a lazy<br>dog.DJs flock by when MTV ax quiz prog<br>Junk MTV quiz graced
        by fox whelps.<br>Bawds jog, flick quartz, vex nymphs.<br>Waltz, bad nymph, for quick jigs vex! Fox.
    </h3>
    <a href="#1"><button type="button" class="btn btn-light" id="btn1">View More </button></a>
  </div> 
</div>

</body>
</html>
<br><br><br>
