<div class="product-card" [routerLink]="'/products/' + productData.productId" *ngIf="productData; else invalid">
  <div class="img-container">
    <div class="imgSkeleton" *ngIf="!isImgLoaded"></div>
    <img [src]="productData.productImgURL" [style.display]="isImgLoaded ? 'block': 'none'" (load)="imgLoaded()">
  </div>
  <div class="product-description">
    <div>
      <span class="product-name" [ngbTooltip]="productData.productName">{{ productData.productName }}</span>
      <span class="product-rating right">{{ productData.productRating }}</span>
    </div>
    <div>
      <span
        class="product-price"><strong>{{ productData.productSalePrice | currency: 'INR': true:'1.0' }}</strong></span>
      <span
        class="product-actual-price strikethrough text-center">{{ productData.productRetailPrice | currency: 'INR': true:'1.0'  }}</span>
      <span class="product-discount text-right">{{ productData.productDiscount + "% OFF" | uppercase }}</span>
    </div>
  </div>
</div>
<ng-template #invalid>
  <div>Invalid Product</div>
</ng-template>
