@import '~src/assets/scss/variables.scss';

mat-form-field {
  width: 100%;
}

button {
    color: white;
    background: $secondary-color;
    border: 1px solid $border-color;
    border-radius: $border-radius-px;
  }
