/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "src/assets/scss/variables";
@import './theme.scss';
@import './assets/scss/policies';


/*@font-face{
  font-family: poppins;
  src:url(assets/font/Poppins/Poppins-Medium.ttf);
}
.poppins{
  font-family:poppins;
}
html,body{
  height:100%;
}
body{
  margin:0;
}*/

body, app-root {
  height: 100vh;
}

input[type=number] {
  -moz-appearance: textfield;
}

.invalid-input {
  background-color: red;
  color: white;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

@for $i from 1 through $font-sizes {
  .font-#{$i}px {
    font-size: ($i) + px;
  }

  mat-icon.font-#{$i}px {
    height: ($i) + px;
    width: ($i) + px;
    min-width: 24px;
    min-height: 24px;
  }
}

@for $i from 1 through $column-numbers {
  .custom-col-#{$i} {
    width: 100%*($i)/12;
    display: block;
  }
}

@for $i from 1 through 400 {
  .p-left-#{$i}px {
    padding-left: ($i) + px;;
  }
  .m-left-#{$i}px {
    margin-left: ($i) + px;;
  }
  .p-right-#{$i}px {
    padding-right: ($i) + px;;
  }
  .m-right-#{$i}px {
    margin-right: ($i) + px;;
  }
}

.strikethrough {
  color: grey;
  text-decoration: line-through;
}

.color-gray {
  color: gray;
}

.color-black {
  color: black;
}

.color-primary {
  color: $primary-color;
}

.border-right-npx {
  border-right: $border-width solid $border-color;
}

.margin-botton-5px {
  margin-bottom: 5px;
}

.horizontal-invert {
  transform: rotateY(180deg);
}

.right {
  float: right;
}

.d-grid {
  display: grid;
}

//.product-card:not(:last-child) {
//  margin-right: 15px;
//}

//.product-card {
//  display: inline-block;
//  // border: $border-width solid $border-color;
//  padding: 10px 5%;
//  //margin-right: 15px;
//
//  .img-container {
//    display: inline-block;
//
//    img {
//      max-width: 200px;
//      max-height: 300px;
//    }
//  }
//
//  .product-description {
//    padding-top: 5px;
//
//    span {
//      line-height: 25px;
//    }
//
//    .product-name {
//      text-overflow: ellipsis;
//      width: 155px;
//      white-space: nowrap;
//      overflow: hidden;
//      display: inline-block;
//      padding-left: 5px;
//    }
//
//    .product-rating {
//      border-radius: 15px;
//      background: #73AD21;
//      padding: 0 8px 8px 8px;
//      width: 45px;
//      height: 24px;
//      color: white;
//      text-align: center;
//    }
//
//    .product-price {
//      margin-right: 5px;
//    }
//
//    .product-actual-price {
//      margin-right: 5px;
//    }
//
//    .product-discount {
//      margin-right: 5px;
//      color: #73AD21;
//    }
//  }
//}

.tooltip {
  font-size: 10px;
}

.mat-form-field-appearance-outline.mat-focused {
  .mat-form-field-outline-thick {
    color: $secondary-color;
  }
}

.mat-input-element {
  caret-color: $secondary-color;
}

.d-flex {
  display: flex;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: $primary-color;
}

label.mat-checkbox-layout {
  margin: 0;
}

app-login-signup-dialog {
  .mat-tab-labels {
    width: 100px !important;
    min-width: 100px !important;

    .mat-tab-label {
      min-width: 100px !important;
    }
  }
}

.pointer, .pointer-underline {
  cursor: pointer;
}

.pointer-underline:hover {
  text-decoration: underline;
}
