/* You can add global styles to this file, and also import other style files */

@import "src/assets/scss/variables";

/*@font-face{
  font-family: poppins;
  src:url(assets/font/Poppins/Poppins-Medium.ttf);
}
.poppins{
  font-family:poppins;
}
html,body{
  height:100%;
}
body{
  margin:0;
}*/

input[type=number] {
  -moz-appearance: textfield;
}

.invalid-input {
  background-color: red;
  color: white;
}

.padding-0 {
  padding: 0!important;
}

.margin-0 {
  margin: 0!important;
}

@for $i from 1 through $font-sizes {
  .font-#{$i}px {
    font-size: ($i) + px;
  }
}

@for $i from 1 through $column-numbers {
  .custom-col-#{$i} {
    width: 100%*($i)/12;
    display: block;
  }
}

.strikethrough {
  color: grey;
  text-decoration: line-through;
}

.color-gray {
  color: gray;
}

.color-black {
  color: black;
}

.color-deeppink {
  color: deeppink;
}

.border-right-npx {
  border-right: $border-width solid $border-color;
}

.margin-botton-5px {
  margin-bottom: 5px;
}

.horizontal-invert {
  transform: rotateY(180deg);
}

.right {
  float: right;
}

//.product-card:not(:last-child) {
//  margin-right: 15px;
//}

.product-card {
  display: inline-block;
  // border: $border-width solid $border-color;
  padding: 10px 5%;
  //margin-right: 15px;

  .img-container {
    display: inline-block;

    img {
      max-width: 200px;
      max-height: 300px;
    }
  }

  .product-description {
    padding-top: 5px;

    span {
      line-height: 25px;
    }

    .product-name {
      text-overflow: ellipsis;
      width: 155px;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      padding-left: 5px;
    }

    .product-rating {
      border-radius: 15px;
      background: #73AD21;
      padding: 0 8px 8px 8px;
      width: 45px;
      height: 24px;
      color: white;
      text-align: center;
    }

    .product-price {
      margin-right: 5px;
    }

    .product-actual-price {
      margin-right: 5px;
    }

    .product-discount {
      margin-right: 5px;
      color: #73AD21;
    }
  }
}

.tooltip {
  font-size: 10px;
}
