@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    color: black;
    border: 1px rgba(0,0,0,0) solid 
  }

  .mat-button-toggle-checked {
    color: black;
    background: none;
    border: 1px #000 solid !important;
    border-color: black;
  }
  .mat-button-toggle-group-apperance-standard{
  border: none !important;
}
}

// Include the mixin
@include mix-app-theme($app-theme);