<div class="policy">
  <div class="heading text-center">
    <div>ABOUT US</div>
  </div>
  <div class="paragraph">
    <div class="content">
      <p>Fashion industry contributes a major share in carbon emission, polluting oceans and micro plastics. The industry claims to grow 110% every year, since the fashion is getting changed day by day. Once you adopt a particular fashion, it gets outdated within a few weeks’ or months’ time. Hence they market you to move to the upcoming fashion. So people start adopting the latest fashion and hence the previous fashion products lead to pollution and environmental damage. Also the fashion does not target in a small level, it targets at a massive level which leads to more production of fashion clothing products, thereby polluting the environment on a significant scale.</p>

      <p>Upcoming fashion clothes are becoming cheaper day by day. One reason is that they are getting manufactured at large scale. Another reason is they significantly and frequently reduce the percentage of natural cotton and replace it with artificial ones. The artificial supplements used in the clothing not only affects your skin (leads to skin infections, allergies, skin irritation,etc) but also the environment.</p>

      <p>This is what has motivated us and created an urge for making us responsible to act for the environmental damage. We Swapsoul are a team of dedicated people who want to create a change. Small changes make a great difference. We are dedicated towards the eco-friendly and pollution free environment.</p>

      <p>This is what has motivated us and created an urge for making us responsible to act for the environmental damage. We Swapsoul are a team of dedicated people who want to create a change. Small changes make a great difference. We are dedicated towards the eco-friendly and pollution free environment.</p>

      <p>Our mission to give you the most natural phase of the clothing at an affordable price, which will lead to betterment for our society and the upcoming generation.</p>

      <p>Eco Friendly clothing like organic cotton based T shirts take time to get manufactured, but it is bio-degradable and also good for your skin. We are also dedicated towards the long lasting nature of our T Shirts which will eventually reduce the frequent buying of clothes.</p>

      <p>Meaning of SwapSoul is to swap your souls. The shirt is the nature’s soul you will be wearing with pride. We are committed in reducing the pollution and hence no compromising on the quality. Wearing swapsoul T shirts means your skin is safe, your contribution towards environment is significant and hence you are nature contributing sustainable fashion user.</p>
    </div>
  </div>
</div>
