h1 {
    font-family:poppins;
    position: absolute;
    top: 40px;
    font-weight:500px;
    left: -10px;
    margin: 0 auto;
   
    color:orange;
    font-size: 28px;
 }
 
    h2 {
        font-family:poppins;
        font-size:22px;
        position: absolute;
        top: 80px;
        left: -10px;
        margin: 0 auto;
       
       font-weight:500px;
     }
     p {
         font-family:roboto;
        position: absolute;
        top: 110px;
        left: -20px;
        margin: 0 auto;
       
        font-size:14px;
     }
 h3{
     font-family:poppins;
    text-align:center;
    color:#EBB520;
    font-size: 36px;
    font-weight: 500px;
 }
 h4{
     font-family:poppins;
     color:white;
     font-size:22px;
     text-align:center;
     font-weight:500px;
 }

  h6,h5{
      color:white;
    font-weight:500px;
    font-family: roboto;
    font-size:18px;
  }
  svg{
      color:rgb(79, 79, 238);
  }
  svg:hover{
      color:white;
  }
  .header{
      font-size:28px;
      color:black;
      font-family:poppins;
      margin-left:100px;
  }
.people_header{
    font-size:28px;
      color:black;
      font-family:poppins;
    margin-left:-70px;
    color:black;
}
  .under {
    position: absolute;
    left: 45px;
    top: -60px;
    z-index: -1;
    height:300px;
  }
  
  .over {
    
    left: 0px;
    top: 10px;
    z-index: -1;
    width:200px;
    height:200px;
  }
  
  .image_header{
      color:#EBB520;
      left:45%;
      top:-30px;
      font-family:roboto;
      font-size:24px;
  }
  .image_header1{
      font-family:roboto;
      font-size:18px;
      left:45%;
      top:10px;
  }
  .image_para{
    left:45%;
     top:40px;
     font-family:roboto;
     font-size:14px;
     svg{
         color:grey;
     }
     svg:hover{
         color:blue;
     }
  }
.btn{
    margin: 0;
     position: absolute;
     top: 50%;
     left:40%;
     background-color: transparent;
     border:1px solid white;
     width:200px;
     height:50px;
     font-size:22px;
}
.btn:hover{
    color:white;
    background-color: rgb(116, 113, 113);
}
.card-body{
    padding:0px;
    margin:0px;
    img{
        
        width:100%;
        height:auto;
    }
}
.card{
    border:transparent;
}
.join_us{
    font-size:22px;
    font-weight:500px;
    border:transparent;
    background-color: #ED3237;
    color:white;
}
.join_us:hover{
    font-size:22px;
    font-weight:500px;
    border:transparent;
    background-color: #ED3237;
    color:white;  
}
    // .carousel {
    //     margin: 50px auto;
    //     padding: 0 70px;
    //     background-color: transparent;
    // }
    // .carousel .item {
    //     color: #747d89;
    //     min-height: 325px;
    //     text-align: center;
    //     overflow: hidden;
    //     background-color: transparent;
    // }
    // .carousel .thumb-wrapper {
    //     padding: 25px 15px;
    //     background:transparent;
    //     border:transparent;
    //     border-radius: 6px;
    //     text-align: center;
    //     position: relative;
    // }
    // .carousel .item .img-box {
    //     height: 150px;
    //     margin-bottom: 20px;
    //     width: 100%;
    //     position: relative;
    //     background-color:transparent;
    // }
    // .carousel .item img {	
    //     max-width: 100%;
    //     max-height: 100%;
    //     display: inline-block;
    //     position: absolute;
    //     bottom: 0;
    //     margin: 0 auto;
    //     left: 0;
    //     right: 0;
    // }
    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: black;	
        color:white;
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
        font-size:25px;
        top:10%;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }
    .fling-minislide {width:100%; height:0px; padding-bottom: 50%; overflow:hidden; position:relative; }
    .fling-minislide img{ left:25%; position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 50%; height: auto;}
    
    @keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
    .fling-minislide img:nth-child(4){animation-delay:0s;}
    .fling-minislide img:nth-child(3){animation-delay:5s;}
    .fling-minislide img:nth-child(2){animation-delay:10s;}
    .fling-minislide img:nth-child(1){animation-delay:15s;}
    
     .company{
         h1{
             font-size:40px;
             color:grey;
         }
     }
    // .carousel-indicators {
    //     bottom: -50px;
    // }
    
    #footer{
        .foo{
            float:right;
            color:white;
            font-size:15px;
            background-color: transparent;
        }
        h3{
            color:white;
            font-size:18px;
        }
      h1{
        color:white;
        font-size:22px;
        font-family:poppins;
      }
      #follow{
          text-align:left;
          font-family:poppins;
          font-size:36px;
          margin-left:40px;
          margin-top:-10px;
      }
      #follow1{
          text-align:left;
      }
      .copyrights{
        font-family: poppins;
        font-family:500px;
        font-size:16px;
        float:left;
      }
    }
    #join_us{
        font-size:18px;
        font-weight:500px;
        border:transparent;
        background-color: #ED3237;
        color:white;
        width:100px;
        height:40px;
        left:40%;

    }
    #people
    {
     .header{
        margin-left:10px;
     }   
        .image_header{
            font-size:18px;
            left:60%;
        }
        .image_header1{
            font-size: 16px;
            left:60%;
        }
        .image_para{
            font-family: 8px;
            left:60%;
        }
    }