<div class="policy">
  <div class="heading text-center">
    <div>ABOUT US</div>
  </div>
  <div class="paragraph">
    <div class="content">
      <p>SwapSoul was born out of an idea to provide long lasting <b>sustainable and eco-friendly products</b> to the people at
        the most affordable prices by a team of young entrepreneurs.</p>

      <p>Swapsoul believes that fashion is all about the <b>fit and finish</b> of the product but not all about making graphics
        of what we wear.</p>

      <p>Swapsoul always believes in <b>quality but not cost effectiveness</b> because the money saved today will get spent
        tomorrow if we are not environmental friendly.</p>

      <p>To be a hero you do not need to wear a super hero dress just be <b>environmentally friendly</b> which makes you a hero
        for your future generations.</p>
    </div>
  </div>
  <div class="paragraph">
    <div class="content">
      <p>
        Founder & CEO<br>
        Swapsoul
      </p>
    </div>
  </div>
</div>
