h1,h3{
    color:white;
    font-size:22px;
    font-family:poppins;
  }
  #follow{
      text-align:left;
      color:white;
  }
  #footer{
    color:white;
    h1{
        color:white;
    }
    svg{
  
    }
    svg:hover{
      color:white;
    }
  }
  .foo{
    color:white;
    font-size:18px;
  }
  
  #para{
    color:white;
    font-size:18px;
  }